@model LogInViewModel
@{
    @if (ViewData.ContainsKey("navId"))
    {
        if ((string)ViewData["navId"] == "Over Ons")
        {
            <script>
                document.body.style.backgroundImage = "url(../images/OverOnsAchtergrond.jpg)";
                document.body.style.backgroundRepeat = "no-repeat";
                document.body.style.backgroundSize = "cover";
                document.body.style.backgroundPosition = "top left";
            </script>
        }
        else
        {
            <script>
                document.body.style.backgroundImage = "url(../images/LogInAchtergrond.jpg)";
                document.body.style.backgroundRepeat = "no-repeat";
                document.body.style.backgroundSize = "cover";
                document.body.style.backgroundPosition = "top left";
            </script>
        }

    }
    <div id="AccountScreen">

        @if ((string)ViewData["navId"] == "Over Ons")
        {
            <div id="aside">
                <table class="accountTableContent">
                    <tr>
                        <td style="padding-left:20px;padding-right:20px;font-family:StatisticsFont;height:100px;">
                            InfoPage <img style="float:right;" height="40" width="40" src="~/images/functionalImages/infoPicto.png" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="accountContent">
                <table class="accountTableContent">
                    <tr>
                        <td style="        vertical-align: top;
        padding: 10px;
        width: 200px;
        text-decoration: underline;
        border-right: solid black 1px;
        font-family: StatisticsFont;
        background: #0D21A1;
        color:white;

">
                            Over ons
                        </td>
                        <td style="vertical-align:top;padding:10px;font-family:StatisticsFont;font-size:20px;">
                            <p>
                                Beste bezoeker,
                            </p><br /><br /><br />
                            <p style="margin-left:100px;">
                                Bent u een grote wielerfanaat? <br /><br />
                                Gaat u regelmatig fietsen, alleen of in clubverband ?<br /><br />

                                Dan zijn wij jouw ideale partner !
                            </p>
                            <p style="vertical-align:top;padding:10px;margin-top:60px;line-height:30px;">
                                Maak uw <b>gratis account</b> aan en kom in contact met nieuwe ongekende routes van veschillende wielerfanaten uit Vlaanderen,<br />

                                Hier kan je je gewicht bijhouden, gereden kilometers, wattage, vetverbranding, calorien, noem maar op ! <br /> Neem je smart phone mee op je fietstocht en Super Cycling World doet de rest.
                                <br />Deel uw strafste prestaties op de Mont-Ventoux of creeër een custom rit waarvan jij de recordhouder bent in een bepaalde categorie.<br />
                                <br /><br />
                                Ontdek talloze wieler toeristen clubs, ook bij jou in de buurt ! Zie stiekem wie de beste zijn of de kilometervreters. <br /> Win badges met je club om aan te tonen dat jullie de beste zijn in een categorie.
                                <br /> Daag je vrienden uit om je records te verbeteren.
                            </p>
                            <h3 style="margin-top:40px;">Hoe werkt het?</h3>
                            <p style="vertical-align:top;padding:10px;margin-top:20px;line-height:30px;">
                                Je kan je registreren als <b>supporter</b> of als <b>wielrenner</b>. <br />
                                In <i>Super Cycling World</i> zit het boordevol toffe clubs. Voor deze clubs kan jij supporteren of bij aansluiten. <br /><br />
                                <small>NOTE: Je kan enkel registreren als wielrenner als je bij een reeds geregistreerde club op Super Cycling World behoort !</small>
                            </p>
                            <br />
                            <h5>Wielrenner</h5>
                            <p style="vertical-align:top;padding:10px;">Een wielrenner kan lid zijn van een club en individuele supporters hebben.<br /> Kan fan zijn van andere wielrenners maar niet van andere clubs.</p>
                            <h5>Supporter</h5>
                            <p style="vertical-align:top;padding:10px;">Een supporter kan GEEN lid zijn van een club, tenzij hij er leider van is. <br /> Als supporter kan je voor zoveel wielrenners of clubs supporteren als je wil !</p>

                            <p style="vertical-align:top;padding:10px;">
                                <small>TIP: Je kan na het registreren nog altijd switchen tussen supporter of wielrenner !</small>
                            </p>
                            <h3 style="margin-top:40px;">Bekers... ? Win ze !</h3>
                            <br /><br />
                            <p> Win bekers voor je prestaties voor je kilometers, snelheid enzoverder... <br /> Er zijn bekers te verdienen op zowel Site, club als persoonlijk niveau.</p>
                            <h3 style="margin-top:40px;">Wil je je registreren als leider van een club ?</h3>
                            <br /><br />
                            <p> Registreer je eerst als je zelf dus als wielrenner of supporter. Je kan daarna je een nieuwe club toevoegen en er leider van worden. <br /> Weet wel dat je maar van 1 club leider kan zijn.</p>
                        </td>
                    </tr>

                </table>
            </div>
        }
        else
        {
            <div id="aside">
                <table  class="accountTableContent">
                    <tr>
                        <td style="padding-left:20px;padding-right:20px;font-family:StatisticsFont;height:100px;">
                            Inloggen <img style="float:right;" height="40" width="40" src="~/images/functionalImages/signIn1.png" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="accountContent">
                <table class="accountTableContent">
                    <tr>
                        <td style="        vertical-align: top;
        padding: 10px;
        width: 200px;
        text-decoration: underline;
        border-right: solid black 1px;
        font-family: StatisticsFont;
        background: #0D21A1;
        color:white;

">


                            Log in
                        </td>

                        <td style="position:relative;text-align:center;padding:10px;font-family:StatisticsFont;font-size:20px;">
                            @if (TempData.ContainsKey("UnsuccesfullInlogAttempt"))
                            {
                                <p style="color:red;float:left;">@TempData["UnsuccesfullInlogAttempt"]</p>
                            }
                            <div style="        height: 300px;
        width: 500px;
        background: #EEF0F2;
        box-shadow: 0px 0px 15px -1px #000000;
        border-radius:20px;
">

                                <form style="width:100%;height:100%;" method="post" asp-controller="Account" asp-action="index">
                                    <table style="width:100%;height:100%;">
                                        <tr>
                                            <td colspan="2">
                                                Inloggen
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Gebruikersnaam/email:<span style="float:right;color:red;" asp-validation-for="Email_UserName"></span>
                                            </td>
                                            <td>
                                                <input asp-for="Email_UserName" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Paswoord:<span style="float:right;color:red;" asp-validation-for="Paswoord"></span>
                                            </td>
                                            <td>
                                                <input asp-for="Paswoord" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="color:#EEC643;">
                                                Nog geen lid? Druk op de sign up knop op de home page.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="submit" value="Bevestigen" />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        }
    </div>
    @section scripts{
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}
