@model ClubListViewModel
@{
    <div id="AccountScreen">
        <div id="aside">
            <table class="accountTableContent">
                <tr>
                    <td style="padding-left:20px;padding-right:20px;font-family:StatisticsFont;height:100px;">
                        <b>Account</b> <br /> <br /> No Account <img style="float:right;" height="40" width="40" src="~/images/functionalImages/close_box_red.png" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="accountContent">
            <table class="accountTableContent">
                <tr>
                    <td style="        vertical-align: top;
        padding: 10px;
        width: 200px;
        border-right: solid black 1px;
        font-family: StatisticsFont;
        background: #0D21A1;
        color:white;

">
                    </td>
                    <td style="text-align:start;vertical-align:top;background:#0D21A1; box-shadow: inset 0 0 30px 10px white; border-radius:20px;">
                        <div  style="border-top: solid white 2px;width:90%;margin-left:5%;margin-top:30px;padding:10px;  ">
                           
                            @foreach(var club in Model.Clubs)
                            {
                                <div style="width:100%;">
                                    <p>@club.Clubnaam</p>
                                    <p>@club.AantalRecords</p>
                                </div>
                            }
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
}
