@model ChartBoxListViewModel;

@{
    <div id="chartBoxes">
        @foreach (var chartbox in Model.ChartBoxViewModels)
        {
            <partial name="ChartBoxPartialView" model="chartbox" />
        }
    </div>
}

