@model ChartBoxViewModel

<div class="ChartBox">
    <div class="chartPicture">
        <div class="triangle"></div>
       
    </div>
    <div class="chartContent">

        
        <section>
            <h4>@Model.ChartName</h4>
            <div class="chartText">
                content
            </div>
        </section>
    </div>
</div>