@model ChartBoxViewModel

<div class="ChartBox">
    <div id="chartPicture">
        <div id="triangle"></div>
       
    </div>
    <section id="chartContent">
        <img src="@Model.ChartPicture" />
        <h4>@Model.ChartName</h4>
        <div id="chartText">
            content
        </div>
    </section>
</div>