#AccountScreen{
    display:flex;
    width:100%;
    padding-top:50px;
}

#AccountScreen div{
    float: left;
}

#aside{
    width:250px;
    background: #EEC643;
    height:100%;
}

#accountContent {
    min-height: 100vh;
    flex-grow: 1;
    background: rgba(238,240,242,0.9);
    padding:20px;
}
.accountTableContent{
    width:100%;
    height:100%;

}
.accountTile {
    width: 80%;
    height: 200px;
    margin-left: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
    text-decoration: underline;

    box-shadow: inset 0px 0px 5px 2px black;
    border-radius: 20px;
    cursor: pointer;
}
    .accountTile:hover {
        box-shadow: 0px 0px 5px 2px white;
    }
.selectedTile {
    box-shadow: 0px 0px 5px 2px white;
}

.Succes{
    background: green;
    width:300px;
    color: white;
    text-align:center;
    padding:0 15px 15px 15px;
    border-radius: 10px;
}
.Succes img{
    vertical-align:bottom;
}
