#AccountScreen{
    display:flex;
    width:100%;
    padding-top:50px;
}

#AccountScreen div{
    float: left;
}

#aside{
    width:250px;
    background: #EEC643;
    height:100%;
}

#accountContent {
    min-height: 100vh;
    flex-grow: 1;
    background: rgba(238,240,242,0.9);
    padding:20px;
}
.accountTableContent{
    width:100%;
    height:100%;

}
