@font-face {
    font-family: HeadFont;
    src: url(../Fonts/JosefinSans-Bold.ttf);
}


.ChartBox {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 300px;
    cursor:pointer;

}
.chartPicture {
    float: left;
    width: 250px;
    height: 250px;
    margin-top: 25px;
    background: #0D21A1;
}

.chartContent {
    height: 300px;
    margin-left: 250px;

}

    .chartContent h4 {
        font-family: HeadFont;
        font-size: 46px;
        color: #EEC643;
        text-shadow: 3px 4px 3px #000000;
        padding: 25px;
        border-bottom: 5px #EEC643 solid;
        width:90%;
 
    }

.triangle {
    height: 150px;
    width: 150px;
    margin-top: 50px;
    background: yellow;
    margin-left: 175px;
    transform: rotate(45deg);
    background: #0D21A1;
}

.meerWeten{
    position:absolute;
    right:0;
    bottom:0;
    padding: 20px;
    cursor: pointer;
    font-size:20px;
    border-top-left-radius: 25px;
}

    .meerWeten:hover {
        background: green;
        box-shadow: 3px 3px 15px 5px white;
        border-top: black 1px solid;
    }



.chartText {
    position: relative;
    margin-left: 150px;
    background: #0D21A1;
    width: 80%;
    text-align: center;
    padding: 75px;
    font-family: HeadFont;
    font-size: 28px;
    color: white;
    overflow:hidden;
}

.backgroundContent{
    width:100%;

}

.chartPictogram{
    background-image: url(../images/functionalImages/signIn.png);
    height:100px;
    width:100px;
    position:relative;
    top:-150px;
    left:50px;
}
