
@font-face {
    font-family: HeadFont;
    src: url(../Fonts/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: StatisticsFont;
    src: url(../Fonts/JosefinSans-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#SCWBody {
    background: url("../images/SCW_background.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow-y: scroll;
}
nav {
    height: 55px;
    width: 100%;
    background:#EEF0F2;
    /*background: linear-gradient(180deg, #011368 0%, #011368 0%, #141414 100%, #EEC643 100%);*/
}



#scwLogo {
    background: #EEF0F2;
    width: 500px;
    float: left;
}
