
@font-face {
    font-family: HeadFont;
    src: url(../Fonts/JosefinSans-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, #011368 0%, #011368 0%, #141414 100%, #EEC643 100%);
}

